* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6f4fb;
}
container {
  display: "flex";
  background-color: "#e6f4fb";
}
.dashboard-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.dashboard-title img {
  height: 40px;
  width: auto;
}

h3 {
  color: #1a1a1a;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
}

.date-box {
  background-color: #e7ce85;
  padding: 12px 16px;
  margin-left: 80px;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.date-box h3 {
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: left;
}

.date-time-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.date-time {
  display: flex;
  gap: 30px;
  font-size: 1em;
  color: #222;
}

.icon {
  font-size: 30px;
}

.custom-select-wrapper {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif;
  margin-left: 120px;
  margin-top: 50px;
}

.custom-select {
  background: white;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}

.select-trigger {
  padding: 10px;
  font-weight: bold;
  background-color: #f9f9f9;
}

.options {
  display: none;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.option.borrowed {
  background-color: #f4b400;
}
.option.returned {
  background-color: #a1e3a1;
}
.option.overdue {
  background-color: #ff3333;
  color: white;
}
.option.all {
  background-color: #eee;
}

.option:hover {
  opacity: 0.8;
}

.left-panel {
  margin-top: 50px;
  flex-shrink: 0;
  margin-left: 200px;
}

.right-panel {
  flex: 1;
  margin-left: 100px;
  justify-content: center;
}

.right-panel h2 {
  margin-top: 15 px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.transaction-card {
  background-color: white;
  padding: 15px;
  margin: 30px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
}

.transaction-card p {
  margin: 5px 0;
}

.action-link {
  color: #007bff;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 0 40px;
  margin-top: 30px;
}
